*{
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    height: 100%;
    place-items: center;
    background-image: url('https://papers.co/wallpaper/papers.co-vs88-tree-leaf-green-pattern-nature-35-3840x2160-4k-wallpaper.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

marquee{
    color: wheat;
    cursor: default;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 4px );
    border-radius: 5px;
}

.hobbies{
    align-items: center;
}

span{
    margin-top: 5px;
    font-size: large;
    text-align: center;
    color: white;
}

.container{ 
    margin-top: 1cm;
    width: 9cm;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 4px );
    border-radius: 50px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container .title{
    color: rgb(255, 255, 255);
    line-height: 65px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.container .box1 label{
    display: flex;
    height: 53px;
    width: 5cm;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 50px;
    margin: 10px 0;
    padding-left: 20px;
    cursor: pointer;
}

.rd{
    border: 0px;
    width: 30%;
    height: 1.5em;
}

#box1{
    color: white;
    margin-left: 2cm;
}

#back2top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 4px );
    border-radius: 50px;
    color: #100f0f;
    margin:10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hobbies{
    padding: 8px 20px;
    margin-left: 2.3cm;
    margin-bottom: 10px;

}